[user]
  name = Brian Talbot
  email = hi.talbs@gmail.com
  signingkey = ~/.ssh/id_ed25519_signing.pub

[init]
  defaultBranch = main

[push]
  default = current

[pull]
  rebase = true

[branch]
  autosetupmerge = true
  autosetuprebase = always

[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global

[color]
  ui = true

[alias]
  gbrs = for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads
[gpg]
	format = ssh
[commit]
	gpgsign = true
[rerere]
	enabled = true
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
